.container{
  width: 50%;
  margin: 0 auto;
}


.meralco-form{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 2rem;
}

.amount,
.total{
  width: 50%;
}

.results p{
  margin-top: 1rem;
}

input{
  margin-bottom: 1rem;
  width: 100%;
}

#kilowatt-per-hour,
#tenant-kwh,
#kwh{
  font-weight: 600;
}

#bill{
  font-weight: 600;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}