.parking-container{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

/* common style */
p{
    font-weight: 600;
    font-size: 27px;
    text-align: center;
}

/* form start */
#myForm{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* cars counter */
.container{
    width: 242px;
    height: 120px;
    margin: 10px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.ent{
    font-size: 20px;
}

.container i{
    margin-top: 2px;
}

/* view sheets */
.view-sheets{
    width: 100%;
}
.view-sheets img{
    width: 50px;
    display: flex;
    margin:  auto;
}

.view-sheets p{
    font-size: 15px;
    font-weight: 200;
}

.view-sheets a{
    color: black;
}

#success-message {
    color: green;
    font-size: 1rem;
    font-weight: normal;
    opacity: 0;
}