/* global style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* common style */
img{
    margin: 20px 0 0 20px;
    width: 150px;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin: 0 auto;
}

button:hover{
    background-color: #c7c7c7;
}

p{
    font-weight: 600;
    font-size: 27px;
    text-align: center;
}

/* form start */
input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
}

label{
    font-size: 18px;
    font-weight: 600;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

:placeholder-shown{
    font-size: 16px;
}

#myForm{
    width: 20rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* cars counter */
.container{
    width: 242px;
    height: 120px;
    margin: 30px 0 0 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.ent{
    font-size: 20px;
}

.container i{
    margin-top: 2px;
}

/* view sheets */
.view-sheets{
    width: 100%;
}
.view-sheets img{
    width: 50px;
    display: flex;
    margin: 0 auto;
}

.view-sheets p{
    font-size: 15px;
    font-weight: 200;
}

.view-sheets a{
    color: black;
}

#success-message {
    color: green;
    font-size: 1rem;
    font-weight: normal;
    display: none;
}